.clients-items{
display: flex;
justify-content: space-between;
align-items: center;
margin: 50px 0;

}

.clients-title{
margin-bottom: 50px;
}

.clients{
    padding:49px 0 49px 0 ;
}
.clients-block{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.clients-block svg {
    fill: #AFB1B8;
}

.clients-block:hover{
    border: 1px solid var(--blue-color);
    transition: var(--transition);
}

.clients-block:hover svg{
    fill:var(--blue-color) ;
    transition: var(--transition);
}