.footer{
    background-color:  #2F303A;;
    padding: 60px 0 60px 0;
}
.footer-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-address a{
    display: block;

}

.footer-address{
    margin-right: 70px;
}

.footer-join{
    margin-right: 90px;
}

.footer-logo{
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--light-grey-color);
}

.footer-span{
    color: var(--blue-color);
}

.footer-map{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer-mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link{
    fill: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    transition: var(--transition);
}
.footer-icons{
    display: flex;
    justify-content: space-between;
margin: 20px 0;
   
}

.footer-input-email{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 345px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-right: 12px;
    color: var(--white-color);
}

.footer-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color); 
    margin-bottom: 20px;   
}

.footer-btn svg{
    width: 24px;
    height: 24px;
    fill: var(--white-color);
    }
    
.footer-btn{
    background-color: var(--blue-color);
    width: 200px;
    height: 55px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display:flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    justify-content: center;
    border: none;
    gap: 5px;
}

.footer-forma{
display: flex;

}



.footer-btn:hover{
    cursor: pointer;
}

.footer-link:hover{
    fill: white;
    
}

.footer-link:hover{
    background-color: var(--blue-color);
}
.footer-link svg{
    width: 24px;
    height: 24px;

}

