
.gallery-specifics{
margin: 0 auto;
/* width: var(--max-width); */
display: flex;
justify-content: center;
margin: 94px 0;
gap: 30px;
}

.gallery-item{
width: 270px;
height: 251px;


}

.gallery-grey{
width: 270px;
height: 120px;
background-color: var(--light-grey-color);
display: flex;
justify-content: center;
align-items: center;
}

.gallery-title{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--grey-color);
margin: 20px 0 30px 0;

}

.gallery-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;

}