.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.header{
    border-bottom: 1px solid lightgrey;
}

.navigation{
    display: flex;
    align-items: center;
}

.navigation-menu{
    display: flex;
    align-items: center;
}

.navigation-contact{
    display: flex;
    align-items: center;

}

.navigation-logo{
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--blue-color);
}

.navigation .navigation-menu-item.mobile{
    display: none;
}

.navigation .navigation-menu-item.social{
    display: none;
}

.hamburger{
    display: none;
}

.navigation-span{
    color: var(--grey-color);
}

.navigation-menu .navigation-menu-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--grey-color);
    transition: var(--transition);
}

.navigation-menu .navigation-menu-item{
    margin-right: 50px;
   
}


.navigation-menu .navigation-menu-item:last-child{
    margin-right: 0;
}

.navigation-menu .navigation-menu-link.active{
    color: var(--blue-color);
}

.navigation-menu .navigation-menu-link:hover{
    color: var(--blue-color);

}

.header svg{
    width: 17px;
    height: 13px;
    fill: var(--grey-color);
    margin-left: 10px;
    transition:var(--transition); 
}


.navigation-contact .navigation-contact-link{
    color: var(--grey-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition:var(--transition); 
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-contact .navigation-contact-link:hover{
    color: var(--blue-color);
}

.navigation-contact .navigation-contact-item:hover svg{
    fill: var(--blue-color);
}

.navigation-menu .navigation-menu-link::after { 
    content: ''; 
    background-color: transparent; 
    transition:var(--transition); 
    height: 3px; 
    display: block; 
    border-radius: 2px; 
  } 
   
  .navigation-menu .navigation-menu-link:hover::after { 
    background-color: var(--blue-color); 
  }