:root{
    --grey-color:#212121;
    --max-width:1200px;
    --blue-color:#2196F3;
    --transition:all 0.3s ease-in-out;
    --white-color:#FFFFFF;
    --light-grey-color: #F5F4FA;
    --footer-bg:#2F303A;
}